#find-friends-top {
  display: flex;
  justify-content: center;
}

#search-icon-find-friends {
  position: relative;
  right: 20px;
}

#search-for-friends {
  display: block;
}

#slide-menu-button {
  display: none;
}

#slide-menu {
  display: none;
}

.stranger-order {
  position: relative;
  left: 20px;
}
