body {
  box-sizing: border-box;
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

/*************HEADER***********/
header {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;;
  align-items: center;
  border-bottom: 1px solid #a9a9a9;
}

#search-icon {
  margin-left: 3vw;
}

#menu-icon {
  margin-right: 3vw;
}

header p {
  font-family: 'Lora' serif;
  color: #272727;
  font-size: 16.8px;
  line-height: 21px;
}

/*************MAIN************/
main {
  box-sizing: border-box;
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*This padding was to get the input box aligned correctly. But with the space around justification this is no longer necessary.*/
  /*padding-left: 10vw;*/
}

main p {
  font-family: 'Lora' serif;
  font-size: 12.07px;
  line-height: 14px;
  color: #232323;
  margin: 0;
}

#add-some {
  margin-bottom: 10px;
}

#blue-devmountain {
  color: #00ffe9;
}

.main-text {
  text-align: center;
  height: 60vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
}

main h1 {
  font-family: 'Lora' serif;
  font-size: 38.4px;
  line-height: 46px;
  color: #272727;
}

/*I set the margin to 5 to provide just a little space between the input boxes. This might affect the size of the sign-up-div, so be careful of that as you move forward. */
main input {
  margin: 5px;
  color: #b6b6b6;
  font-family: 'Lora', serif;
  font-size: 15.96px;
  line-height: 19px;
}

#bio-input {
  height: 30vh;
  padding: 0;
  margin: 5px;
  color: #b6b6b6;
  font-family: 'Lora', serif;
  font-size: 15.96px;
  line-height: 19px;
}

#saveChanges {
  font-family: 'Lora', serif;
  font-size: 13.44px;
  line-height: 17px;
  color: #9A9A9A;
  background-color: #74FDF2;
  border: none;
  height: 4vh;
}

input:focus {
  color: #232323;
}

/*******MAIN-RIGHT********/
#main-right {
  height: 60vh;
  width: 35vw;
}

/*Notice the transform parameter to rotate the triangles*/

.triangle {
  height: 300px;
  width: 300px;
}

#top-triangle {
  margin-bottom: -15vh;
  background-image: url("https://images.unsplash.com/photo-1434441963555-a2f91c3a5f7c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=a4a45eefe2f92f7d48afd05bd27b80e5");
  background-position: center;
  background-size: cover;
  transform: rotate(10deg);
  -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

/* If I don't like the opacity in this style, I can go back to the opacity of 0.2 in the #top-triangle.*/
#inner-top-triangle {
  background-color: rgba(236, 236, 236, 0.91);
  margin-bottom: -15vh;
  -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

#bottom-triangle {
  margin-top: -15vh;
  background-position: center;
  background-size: cover;
  transform: rotate(-10deg);
  -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
}

#inner-bottom-triangle {
  margin-top: -15vh;
  background-color: rgba(0, 255, 233, 0.48);
  opacity: 0.8;
  -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
}

 /***********FOOTER**********/

  /*NOTE THAT I PUT MARGIN AUTO HERE. I DID THAT TO CENTER IT HORIZONTALLY, BUT AS I STACK STUFF ON TOP THAT COULD MESS OTHER THINGS UP.*/
 footer {
   position: absolute;
   bottom: 0;
   border-top: 1px solid #a9a9a9;
   height: 10vh;
   width: 80vw;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 #bottom-links {
   width: 70vw;
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

footer a {
  color: #a9a9a9;
  font-family: "Open Sans" sans-serif;
  font-weight: bold;
  font-size: 13.2px;
  line-height: 18px;
  text-decoration: none;
}

/*Getting the text decoration color to work requires turning on "experimental web platform features" under chrome://flags*/
footer a:hover {
  text-decoration: underline;
  text-decoration-color: #00ffe9;

}
